<% if @session.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <ul>
    <% @session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
