<h3>Edit Dog Information</h3><br>

<%= render 'form' %>

<hr>

<%= form_tag dog_path(@dog), method: "delete" do %>
  <%= submit_tag "Delete #{@dog.name}", class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@dog.name}?"} %>
<% end %>
