<h3>Edit Dog Information</h3><br>

<%= render 'form' %>

<hr>

<%= form_tag dog_path(@dog.id), method: "delete" do %>
  <%= submit_tag "Remove #{@dog.name}", data: { confirm: "Are you sure you want to remove #{@dog.name}?"} %>
<% end %>
