<tbody>
  <% events.each do |event| %>
    <td class="list-item">
      <tr>
        <div class="info">
          <hr>
          <h4><%= link_to event.title, event %></h4>
          <em><%= event.date.strftime('%B %-d, %Y') %></em><br>
          <%= event.start_time.strftime('%l:%M %p') %> - <%= event.end_time.strftime('%l:%M %p') %>
        </div>
      </tr>
    </td>
  <% end %>
</tbody>
