<h3>Edit Event Information</h3><br>

<%= render 'form' %>

<hr>

<%= form_tag user_event_path(@event), method: "delete" do %>
  <%= submit_tag "Delete #{@event.name}", class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@event.name}?"} %>
<% end %>
