/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h3 {
  margin-left: 30px;
}

/* tbody, .list-item, and .list-dog-info-block formatting based on National Mill Dog Rescue website */

 tbody {
     display: table-row-group;
     vertical-align: middle;
 }

 .list-item {
     width: auto;
     text-align: center;
     vertical-align: top;
 }

 .list-dog-info-block {
     display: table;
     width: 200px;
     margin-top: 0px;
     margin-right: auto;
     margin-bottom: 12px;
     margin-left: 40px;
 }
